@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    @*    <h1 class="error">Error.</h1>
    <h2 class="error">Error al procesar la solicitud.</h2>*@
    <div>
        <h3>Sorry, an error occurred while processing your request.
        </h3>
    </div>
    <h3>Please try again</h3>
    <span class="viosLink"><a href="#" onclick="jQuery('#error-details').toggle();">View error details</a>
    </span>
    <div id="error-details" style="display: none; margin: 10px; border: 1px dashed gray; padding: 10px">
        @ViewData["ExceptionMessage"]>
    </div>
    <br style="clear: both" />
    <p class="viosLink">
        <a class="button" style="position: relative;" href="@Url.Action("Index", "Home")"><span>Go Home</span> </a>
    </p>
</hgroup>
