body {
    padding: 0px;
    margin: 0px 0px 0px 0px;
    background-color: #fff;
    border-top: solid 0px #000;
    color: #333;
    font-size: .85em;
    font-family: 'Segoe UI', Verdana, Helvetica, Sans-Serif;
    border: 0px solid #FF5050;
    max-width: 1280px;
}

header {
    border: 0px solid #0000FF;
    background-color: #BABDB6;
    height: 74px;
}

footer {
    border: 0px solid #00FF00;
    height: 20px;
    background-color: #6B6C69;
    color: #F2B016;
    margin-top: 5px;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/*a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }*/
/* Help class*/
.ayuda {
    border: 1px solid #FF3399;
}

.ayuda01 {
    border: 1px solid #99CC00;
}

.ayuda02 {
    border: 1px solid #FF9933;
}

.ayuda03 {
    border: 1px solid #0066FF;
}

.darkerline {
    border: 1px solid #6B6C69;
        margin-left: auto;
    margin-right: auto;
}

.darkerline01 {
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #6B6C69;
}
.center {
    margin-top: 10px;
     margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;

}
.centerAmplied {
       margin-top: 10px;
         margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}
.centerMinified {
       margin-top: 10px;
         margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 10%;

}
.button  {
    outline: 0; 
    margin: 0 4px 0 0;
    padding: 0 1em;
    height: 2em;
    text-decoration: none !important; 
    cursor: pointer; 
    position: relative;
    text-align: center;
    display: inline-block;
    background-color:grey;
    border:1px solid darkgray;
}
a.button { color:White;}
.lnkWhite a {
    color: #FFFFFF;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
}

    .lnkWhite a:link, .lnkWhite a:visited,
    .lnkWhite a:active, .lnkWhite a:hover {
        color: #FFFFFF;
    }

.lnkHome a {
    color: #BABDB6;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
}

    .lnkHome a:link, .lnkHome a:visited,
    .lnkHome a:active, .lnkHome a:hover {
        color: #BABDB6;
    }

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.error {
    color: #FF0000;
    font-weight: bold;
}

.tevalid {
    color: #009933;
    font-weight: bold;
}
.boxP10 {
    padding:10px;
}
.boxlr5 {
    padding-right: 5px;
    padding-left: 5px;
}

.boxr5 {
    padding-right: 5px;
}

.boxl5 {
    padding-left: 5px;
}

.boxtb3 {
    margin-bottom: 3px;
    padding: 0px;
}

.boxM5 {
    margin: 5px;
}

.boxMR5 {
    margin-right: 5px;
}

.boxML5 {
    margin-left: 5px;
}

.boxM10 {
    margin: 10px;
}

.boxMR10 {
    margin-right: 10px;
}

.boxML10 {
    margin-left: 10px;
}
.boxMT10 {
    margin-top:10px;
}
.boxMb10 {
    margin-bottom:10px;
}
/*micro-clearfix by Nicolas Gallagher htpp://nicolasgallagher.com/micro-clearfix-hack/*/
/*For modern browsers*/
.cf::before, .cf::after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}
/*For IE 6/7 (trigger hasLayout)*/
.cf {
    zoom: 1;
}

/* Main Layout */
.divh1 {
    font-size: 1.75em;
    font-weight: bold;
}

.divh2 {
    font-size: 1.20em;
    font-weight: bold;
}

.divh3 {
    font-size: 1em;
    font-weight: bold;
}

.TEdiv {
    padding: 5px;
    margin: 0.5em 1em 0.5em 1em;
}

.telink {
}

    .telink a {
        outline: none;
        padding-left: 3px;
        padding-right: 3px;
        text-decoration: underline;
    }

        .telink a:link, .telink a:visited,
        .telink a:active {
            color: #0066cc;
        }

        .telink a:hover {
            color: #b973b9;
            text-decoration: none;
        }

.editor-label {
    padding-top: 5px;
    padding-right: 3px;
}

    .editor-label label {
    }

.editor-field input {
    border: 1px solid #000000;
    background: #fff;
    color: #333;
    font-size: 1em;
    margin: 3px 3px 3px 3px;
    padding: 3px 3px 3px 3px;
    width: 120px;
}

.editor-field100 input {
    border: 1px solid #000000;
    background: #fff;
    color: #333;
    font-size: 1em;
    margin: 3px 3px 3px 3px;
    padding: 3px 3px 3px 3px;
    width: 80px;
}

.viosinput20 input {
    border: 1px solid #000000;
    background: #fff;
    color: #333;
    font-size: 0.95em;
    margin: 0px 0 0px 0;
    padding: 0px 0px 0px 0px;
    width: 20px;
}

.viosinput40 input {
    border: 1px solid #000000;
    background: #fff;
    color: #333;
    font-size: 0.95em;
    margin: 0px 0 0px 0;
    padding: 5px 5px 5px 5px;
    width: 40px;
}

.viosinput60 input {
    border: 1px solid #000000;
    background: #fff;
    color: #333;
    font-size: 0.95em;
    /*margin: 0px 0 0px 0;
    padding: 0px 0px 0px 0px;*/
    margin: 0px 0 0px 0;
    padding: 5px 5px 5px 5px;
    width: 60px;
}

.viosinput80 input {
    border: 1px solid #000000;
    background: #fff;
    color: #333;
    font-size: 0.95em;
    margin: 0px 0 0px 0;
    padding: 5px 5px 5px 5px;
    width: 80px;
}

.viosinput100 input {
    border: 1px solid #000000;
    background: #fff;
    color: #333;
    font-size: 0.95em;
    margin: 0px 0 0px 0;
    padding: 5px;
    width: 100px;
}

.viosinput100_A {
    font-size: 0.85em;
    padding: 1px 0px 1px 0px;
    width: 80px;
}

.viosinput120 input {
    border: 1px solid #000000;
    background: #fff;
    color: #333;
    font-size: 0.95em;
    margin: 0px 0 0px 0;
    padding: 5px 5px 5px 5px;
    width: 120px;
}

.viosinput140 input {
    border: 1px solid #000000;
    background: #fff;
    color: #333;
    font-size: 0.95em;
    margin: 0px 0 0px 0;
    padding: 0px 0px 0px 0px;
    width: 140px;
}

.viosinput160 input {
    border: 1px solid #000000;
    background: #fff;
    color: #333;
    font-size: 0.95em;
    margin: 0px 0 0px 0;
    padding: 5px 5px 5px 5px;
    width: 160px;
}

.viosinput180 input {
    border: 1px solid #000000;
    background: #fff;
    color: #333;
    font-size: 0.95em;
    margin: 0px 0 0px 0;
    padding: 8px 8px 8px 8px;
    width: 180px;
}

.viosinput190 input {
    border: 1px solid #000000;
    background: #fff;
    color: #333;
    font-size: 0.95em;
    margin: 0px 0 0px 0;
    padding: 5px 5px 5px 5px;
    width: 190px;
}

.viosinput200 input {
    border: 1px solid #000000;
    background: #fff;
    color: #333;
    font-size: 0.95em;
    margin: 1px 0px 1px 0px;
    padding: 5px 5px 5px 5px;
    width: 200px;
}

.viosinput300 input {
    border: 1px solid #000000;
    background: #fff;
    color: #333;
    font-size: 0.95em;
    margin: 0px 0 0px 0;
    padding: 5px 5px 5px 5px;
    width: 300px;
}

.viosinput400 input {
    border: 1px solid #000000;
    background: #fff;
    color: #333;
    font-size: 0.95em;
    margin: 1px 0px 1px 0px;
    padding: 5px 5px 5px 5px;
    width: 400px;
}

.paypayment {
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
    font-size: 1.2em;
}

.paddLR {
    padding-left: 5px;
    padding-right: 5px;
}

    .paddLR td {
        padding-left: 5px;
        padding-right: 5px;
    }

.textright {
    text-align: right;
}
/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #BABDB6;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
        color: #000;
    }

        #login a.username {
            background: none;
            margin: 0;
            padding: 0;
            text-decoration: underline;
        }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }
/* Table Grid*/

td.char-align { width: 14em; }
span.left { float: left; text-align: right; width: 4em; }
span.right { float: right; width: 3em; text-align: left; }

.webgrid {
    width: 100%;
    border: 0px;
    border-collapse: collapse;
}

    .webgrid a {
        color: #000;
    }

.webgrid-header {
    padding: 6px 5px;
    text-align: center;
    background-color: #e8eef4;
    border-bottom: 2px solid #3966A2;
    height: 40px;
    border-top: 2px solid #D6E8FF;
    border-left: 2px solid #D6E8FF;
    border-right: 2px solid #D6E8FF;
}

.webgrid-footer {
    padding: 6px 5px;
    text-align: center;
    background-color: #e8eef4;
    border-top: 2px solid #3966A2;
    height: 30px;
    border-bottom: 2px solid #D6E8FF;
    border-left: 2px solid #D6E8FF;
    border-right: 2px solid #D6E8FF;
}

.webgrid-alternating-row {
    height: 30px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #d2d2d2;
    border-left: 2px solid #D6E8FF;
    border-right: 2px solid #D6E8FF;
}

.webgrid-row-style {
    height: 30px;
    border-bottom: 1px solid #d2d2d2;
    border-left: 2px solid #D6E8FF;
    border-right: 2px solid #D6E8FF;
}

.webgrid-selected-row {
    font-weight: bold;
}

/* main menu*/
#mainMenuMVC {
    padding: 0px 20px 3px 20px;
    background-color: #BABDB6;
}
/*Table layout*/
.tdA {
    padding-left: 5px;
}

.tdB {
    padding-left: 30px;
}

.tdLineTop {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
}

.tdLineBottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
}

.tdLineL {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #000000;
}

.tdLineLR {
    border-right-style: solid;
    border-left-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-right-color: #000000;
    border-left-color: #000000;
}

.tdTitle {
    padding-left: 50px;
}

.tdsalestotal {
    padding-right: 5px;
}

.tdsalesdetail {
    padding-right: 5px;
    text-align: right;
}
/*Table Price*/
.tblPrice {
    margin: 0px auto;
    /*border: 1px solid #FF3399;*/
}

    .tblPrice .td2 {
        border: 1px solid #000;
        padding-left: 3px;
        padding-right: 3px;
    }

        .tblPrice .td2 input {
            text-align: right;
            width: 60px;
            padding: 5px;
            font-size: 14px;
        }

    .tblPrice .td3 {
        border: 1px solid #000;
        padding-left: 3px;
        padding-right: 3px;
    }

        .tblPrice .td3 input {
            text-align: right;
            width: 80px;
            padding: 5px;
            font-size: 14px;
        }

    .tblPrice .lnbtAddUpdatePrice {
        border: 1px solid #000;
        padding-left: 3px;
        padding-right: 3px;
        width: 60px;
    }

    .tblPrice .disccodeselector {
        font-size: 12px;
    }

.tdw196 {
    width: 196px;
}
.paymentHorizontalseparation {
    margin: 5px;
}
.amountHorizontalseparation {
    padding: 8px;
    margin: 5px;
}
.amountResultPosition {
    float: right;
}