@model TimelyDepotMVC.Models.Admin.Terms

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Terms</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Term)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Term)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
