@{
    ViewBag.Title = "Quiting";
}
@section scripts{
    <script type="text/javascript">
        jQuery(document).ready(initializeHomeQuit);

        function initializeHomeQuit() {
            window.close();
        }
</script>
    }
<h2>@ViewBag.Title</h2>
