@{
    ViewBag.Title = "PaymentSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="divh1">@ViewBag.Title</div>
<div class="content">
    <h2>Sales Order Successful!!!</h2>
    <p>
        You've successfully payed a sales order !!! 
    </p>
</div>