.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.margin10 {
    margin: 10px;
}

.marginR10 {
    margin-right: 10px;
}

.marginL10 {
    margin-left: 10px;
}

.marginLR10 {
    margin-left: 10px;
    margin-right: 10px;
}

.marginT10 {
    margin-top: 10px;
}

.marginB10 {
    margin-bottom: 10px;
}

.marginTB10 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.width200 {
    width: 200px;
}
